<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Anúncios encontrados</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Título</th>
                <th scope="col">Preço</th>
                <th scope="col">Autor</th>
                <th scope="col">Link</th>
                <th scope="col">Descrição</th>
                <th scope="col">Predição</th>
                <th scope="col">Percentual</th>
                <th scope="col">Feedback</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of produtos">
                <th scope="row">
                  {{produto.title}}
                </th>
                <td>
                  R${{produto.price}}
                </td>
                <td>
                  {{produto.author}}
                </td>
                <td>
                  <a [href]="produto.link">OLX</a>
                </td>
                <td>
                  {{produto.description}}
                </td>
                <td>
                  {{produto.predict}}
                </td>
                <td>
                  {{produto.percentual}}%
                </td>
                <td>
                  <button class="btn-primary m-2">Acerto</button>
                  <button class="btn-danger">Erro</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
